/* General page styles */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f4f8;
  margin: 0;
  padding: 0;
}

/* Container styles */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Header styles */
h1, h2 {
  color: #333;
  margin-bottom: 20px;
}

/* Navbar styles */
.navbar {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.navbar .nav-link {
  color: #fff;
  padding: 0.5rem 1rem;
}

.nav-link:hover {
  background-color: rgba(69, 69, 69, 0.463);
}

/* Loader styles */
.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.hide-loader {
  display: none;
}

/* Table styles */
.table {
  text-align: center;
}

th, td {
  vertical-align: middle;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .navbar .navbar-brand, .nav-link {
    font-size: 1rem;
  }
  .container {
    width: 95%;
  }
}
